In [1]:
# https://golmok.seoul.go.kr/regionAreaAnalysis.do

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
def general(num):
    driver = webdriver.Chrome('./chromedriver')
    driver.get("https://golmok.seoul.go.kr/regionAreaAnalysis.do")
    driver.find_element_by_xpath('//*[@id="loginPop"]/div/button[1]').click()
    driver.find_element_by_xpath("//option[@value='1']").click()
    driver.find_element_by_xpath("//option[@value='CS100000']").click()
    driver.implicitly_wait(3)
    driver.find_element_by_xpath(f"//option[@value='CS1000{num}']").click()
    driver.find_element_by_xpath("//option[@value='store']").click()
    driver.find_element_by_xpath('//*[@id="presentSearch"]').click()
    time.sleep(10)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    driver.close()
    return soup

## 베이스 데이터프레임 생성

In [4]:
soup = general("01")

In [5]:
def naming_column():
    all = soup.select('table')[3].findAll('tr')

    whi = all[1].get_text().split(' ')[1:4]
    column_name= []
    for i in range(len(all[0].findAll("th"))):
        if i <= 1:
            column_name.append(all[0].findAll("th")[i].text)
        else:
            for k in range(3):
                column_name.append(all[0].findAll("th")[i].text + whi[k])
    return column_name

In [6]:
column_name = naming_column()

In [7]:
whole = pd.DataFrame(columns=column_name)
for item in soup.select('tr.leaf'):
    row_info = item.text.split(" ")[1:]
    row_info = [i.replace(",", "") for i in row_info]
    results = row_info[2:]
    results = list(map(int, results))
    row_info = row_info[:2] + results
    mid = pd.DataFrame([row_info], columns=column_name)
    whole = whole.append(mid)
whole.sample()

,행정구역,생활밀접업종,2018년 1분기전체점포수,2018년 1분기프랜차이즈점포수,2018년 1분기일반점포수,2019년 1분기전체점포수,2019년 1분기프랜차이즈점포수,2019년 1분기일반점포수,2020년 1분기전체점포수,2020년 1분기프랜차이즈점포수,2020년 1분기일반점포수
0,목3동,외식업/한식음식점,89,4,85,91,5,86,87,6,81

In [8]:
for i in (["02","03","04","05","06","10"]):
    soup = general(i)

    data = pd.DataFrame(columns=column_name)
    for item in soup.select('tr.leaf'):
        row_info = item.text.split(" ")[1:]
        row_info = [i.replace(",", "") for i in row_info]
        results = row_info[2:]
        results = list(map(int, results))
        row_info = row_info[:2] + results
        mid = pd.DataFrame([row_info], columns=column_name)
        data = data.append(mid)

    data.sample()

    whole = whole.append(data)

In [9]:
whole

,행정구역,생활밀접업종,2018년 1분기전체점포수,2018년 1분기프랜차이즈점포수,2018년 1분기일반점포수,2019년 1분기전체점포수,2019년 1분기프랜차이즈점포수,2019년 1분기일반점포수,2020년 1분기전체점포수,2020년 1분기프랜차이즈점포수,2020년 1분기일반점포수
0,청운효자동,외식업/한식음식점,82,3,79,75,2,73,74,1,73
0,사직동,외식업/한식음식점,393,34,359,395,30,365,393,30,363
0,삼청동,외식업/한식음식점,66,3,63,66,2,64,71,3,68
0,부암동,외식업/한식음식점,42,3,39,34,3,31,38,3,35
0,평창동,외식업/한식음식점,63,5,58,59,5,54,60,4,56
...,...,...,...,...,...,...,...,...,...,...,...
0,성내2동,외식업/커피-음료,47,7,40,57,9,48,56,10,46
0,성내3동,외식업/커피-음료,58,10,48,67,13,54,72,13,59
0,길동,외식업/커피-음료,70,20,50,70,17,53,78,23,55
0,둔촌1동,외식업/커피-음료,0,0,0,0,0,0,1,0,1
0,둔촌2동,외식업/커피-음료,36,8,28,41,7,34,43,7,36

In [10]:
ordered1 = whole.groupby('행정구역').sum()

In [11]:
ordered1.to_csv('raw/자동화_점포수_1분기.csv')

# 2분기 긁어오기

In [12]:
def general(num):
    driver = webdriver.Chrome('./chromedriver')
    driver.get("https://golmok.seoul.go.kr/regionAreaAnalysis.do")
    driver.find_element_by_xpath('//*[@id="loginPop"]/div/button[1]').click()
    driver.find_element_by_xpath("//option[@value='2']").click()
    driver.find_element_by_xpath("//option[@value='CS100000']").click()
    driver.implicitly_wait(3)
    driver.find_element_by_xpath(f"//option[@value='CS1000{num}']").click()
    driver.find_element_by_xpath("//option[@value='store']").click()
    driver.find_element_by_xpath('//*[@id="presentSearch"]').click()
    time.sleep(10)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    driver.close()
    return soup

In [ ]:
soup = general("01")

In [ ]:
def naming_column():
    all = soup.select('table')[3].findAll('tr')

    whi = all[1].get_text().split(' ')[1:4]
    column_name= []
    for i in range(len(all[0].findAll("th"))):
        if i <= 1:
            column_name.append(all[0].findAll("th")[i].text)
        else:
            for k in range(3):
                column_name.append(all[0].findAll("th")[i].text + whi[k])
    return column_name

In [ ]:
column_name = naming_column()

In [ ]:
whole = pd.DataFrame(columns=column_name)
for item in soup.select('tr.leaf'):
    row_info = item.text.split(" ")[1:]
    row_info = [i.replace(",", "") for i in row_info]
    results = row_info[2:]
    results = list(map(int, results))
    row_info = row_info[:2] + results
    mid = pd.DataFrame([row_info], columns=column_name)
    whole = whole.append(mid)
whole.sample()

In [ ]:
for i in (["02","03","04","05","06","10"]):
    soup = general(i)

    data = pd.DataFrame(columns=column_name)
    for item in soup.select('tr.leaf'):
        row_info = item.text.split(" ")[1:]
        row_info = [i.replace(",", "") for i in row_info]
        results = row_info[2:]
        results = list(map(int, results))
        row_info = row_info[:2] + results
        mid = pd.DataFrame([row_info], columns=column_name)
        data = data.append(mid)

    data.sample()

    whole = whole.append(data)

In [ ]:
ordered2 = whole.groupby('행정구역').sum()

In [ ]:
ordered2.to_csv('raw/자동화_점포수_2분기.csv')

In [ ]:
stores = ordered1.merge(ordered2, how = "left")
stores.to_csv('raw/자동화_점포수분기총.csv')

# SAPJIL (don't look here)

In [ ]:
def general():
    driver = webdriver.Chrome('./chromedriver')
    driver.get("https://golmok.seoul.go.kr/regionAreaAnalysis.do")
    driver.find_element_by_xpath('//*[@id="loginPop"]/div/button[1]').click()
    driver.find_element_by_xpath("//option[@value='1']").click()
    driver.find_element_by_xpath("//option[@value='CS100000']").click()

In [ ]:
# 1,2,3,4,5,6,10 가져오기
def store(num):
    driver.find_element_by_xpath("//option[@value=f'CS10000{num}']").click()
    driver.find_element_by_xpath("//option[@value='store']").click()
    driver.find_element_by_xpath('//*[@id="presentSearch"]').click()
    time.sleep(10)

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
all = soup.select('table')[3].findAll('tr')

whi = all[1].get_text().split(' ')[1:4]
column_name= []
for i in range(len(all[0].findAll("th"))):
    if i <= 1:
        column_name.append(all[0].findAll("th")[i].text)
    else:
        for k in range(3):
            column_name.append(all[0].findAll("th")[i].text + whi[k])

In [ ]:
korea = pd.DataFrame(columns=column_name)
for item in soup.select('tr.leaf'):
    row_info = item.text.split(" ")[1:]
    row_info = [i.replace(",", "") for i in row_info]
    results = row_info[2:]
    results = list(map(int, results))
    row_info = row_info[:2] + results
    mid = pd.DataFrame([row_info], columns=column_name)
    korea = korea.append(mid)

In [ ]:
korea

In [ ]:
# 1,2,3,4,5,6,10 가져오기
driver.find_element_by_xpath("//option[@value='CS100002']").click()
driver.find_element_by_xpath("//option[@value='store']").click()
driver.find_element_by_xpath('//*[@id="presentSearch"]').click()

time.sleep(10)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
china = pd.DataFrame(columns=column_name)
for item in soup.select('tr.leaf'):
    row_info = item.text.split(" ")[1:]
    row_info = [i.replace(",", "") for i in row_info]
    results = row_info[2:]
    results = list(map(int, results))
    row_info = row_info[:2] + results
    mid = pd.DataFrame([row_info], columns=column_name)
    china = china.append(mid)

In [ ]:
kochin = korea.append(china)

In [ ]:
kochin.query('행정구역 == "청운효자동"')

In [ ]:
kochin.groupby('행정구역').sum()

In [ ]:
whole = pd.DataFrame(columns=column_name)

In [ ]:
whole

In [ ]:
for i in range(2:11):
    whole.iloc[:,i] =

In [ ]:
kochin